<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %> <% currentUser.friends =
    currentUser.friends || []; currentUser.friendsRequests =
    currentUser.friendsRequests || []; %>
    <div class="container col-lg-8">
      <!-- 친구 요청 카드 -->
      <div class="mb-2">
        <div class="card">
          <h5 class="card-header text-start">친구 요청</h5>
          <div class="card-body">
            <% if (currentUser.friendsRequests === undefined ||
            currentUser.friendsRequests.length === 0) { %>
            <div class="card-text text-center text-muted">
              아직 친구 요청이 없습니다.
            </div>
            <% } else { %> <%
            currentUser.friendsRequests.forEach((friend_request) => { %> <%
            const friend = users.find(user => user._id.toString() ===
            friend_request) %>
            <div class="card" style="border: none">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <a href="/profile/<%= friend_request %>">
                    <h5><%= friend.username %></h5>
                  </a>
                </div>
                <div class="d-flex">
                  <form
                    action="/friends/<%= friend._id %>/accept-friend-request?_method=PUT"
                    method="POST"
                    class="me-3"
                  >
                    <button class="btn btn-sm btn-primary" type="submit">
                      친구 요청 수락
                    </button>
                  </form>
                  <form
                    action="/friends/<%= currentUser._id %>/remove-friend-request/<%= friend._id %>?_method=PUT"
                    method="POST"
                  >
                    <button class="btn btn-sm btn-primary" type="submit">
                      친구 추가 요청 거절
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <% }) %> <% } %>
          </div>
        </div>
      </div>

      <!-- 알 수도 있는 사람들 카드 -->
      <div class="mb-2">
        <div class="card">
          <h5 class="card-header text-start">알 수도 있는 사람들</h5>
          <div class="card-body">
            <% let hasRecommendations = false; users.forEach((user) => { const
            isCurrentUser = String(user._id) === String(currentUser._id); const
            isFriend = currentUser.friends.some(friendId => String(friendId) ===
            String(user._id)); const isRequested =
            currentUser.friendsRequests.some(friendId => String(friendId) ===
            String(user._id)); if (!isCurrentUser && !isFriend && !isRequested)
            { hasRecommendations = true; %>
            <div class="card" style="border: none">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <a href="/profile/<%= user._id %>">
                    <h5><%= user.username %></h5>
                  </a>
                </div>

                <% if (Array.isArray(user.friendsRequests) &&
                user.friendsRequests.find(friendId => String(friendId) ===
                String(currentUser._id))) { %>
                <form
                  action="/friends/<%= user._id %>/remove-friend-request/<%= currentUser._id %>?_method=PUT"
                  method="POST"
                  class="ms-auto"
                >
                  <button class="btn btn-sm btn-primary" type="submit">
                    친구 요청 취소
                  </button>
                </form>
                <% } else { %>
                <form
                  action="/friends/<%= user._id %>/add-friend?_method=PUT"
                  method="POST"
                  class="ms-auto"
                >
                  <button class="btn btn-sm btn-primary" type="submit">
                    <i class="fa fa-user-plus"></i> 친구 추가
                  </button>
                </form>
                <% } %>
              </div>
            </div>
            <% } }); %> <% if (!hasRecommendations) { %>
            <div class="card-text text-center text-muted">
              알 수도 있는 사람이 없습니다.
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <!-- 친구들 카드 시작 -->
    <div class="container col-lg-8">
      <div class="mb-2">
        <div class="card">
          <h5 class="card-header text-start">친구들</h5>
          <div class="card-body">
            <% if (currentUser.friends.length === 0) { %>
            <div class="card-text text-center text-muted">
              아직 친구가 없습니다
            </div>
            <% } else { %> <% currentUser.friends.forEach((friend) => { %> <%
            const friendInfo = users.find(user => user._id.toString() ===
            friend) %>
            <div class="card" style="border: none">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <a href="/profile/<%= friend %>">
                    <h5><%= friendInfo.username %></h5>
                  </a>
                  <form
                    action="/friends/<%= friend %>/remove-friend?_method=PUT"
                    method="POST"
                    class="ms-auto"
                  >
                    <button class="btn btn-sm btn-primary" type="submit">
                      친구 취소
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <% }) %> <% } %>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
